<section class="benefits container">

    <h1 class="benefits-title"><span class="benefits-s">BENEFITS</span> OF WORKING WITH ME</h1>
    <ul class="benefits-ul">
    <li class="benefits-c">
        <div class="benefits-icon">
            <svg class="mob-icon" width="24" height="24">
            <use href="#"></use>
        </svg>
    </div>
        <h2 class="benefits-list">EXPERTISE</h2>
        <p class="benefits-list-item">With extensive experience in development, I have a deep understanding of programming and website development.
        </p>
    </li>
    <li class="benefits-c">
        <div class="benefits-icon">
            <svg class="mob-icon" width="24" height="24">
            <use href="#"></use>
        </svg>
    </div>
        <h2 class="benefits-list">COMMUNICATION</h2>
        <p class="benefits-list-item">Understanding your needs and wants is my priority and I am always available for discussions and open to
            corrections.</p>
    </li>
    <li class="benefits-c">
        <div class="benefits-icon">
            <svg class="mob-icon" width="24" height="24">
            <use href="#">
            </use>
        </svg>
    </div>
        <h2 class="benefits-list">ART</h2>
        <p class="benefits-list-item">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
    </li>
    <li class="benefits-c">
        <div class="benefits-icon">
            <svg class="mob-icon" width="24" height="24">
            <use href="#">
            </use>
        </svg>
    </div>
        <h2 class="benefits-list">URGENT EXECUTION</h2>
        <p class="benefits-list-item" id="error">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the
            quality of work.</p>
    </li>
</ul>

</section>