
<footer class="footer-section">
    <div class="line-separrator"></div>
    <div class="footer container">
        <h2 class="footer-logo"><span class="name-bold">LLOYD</span><span class="name-color">JEFFERSON.</span></h2>
        <ul class="footer-links">
            <li class="links-item"><a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer nofollow">Instagram</a></li>
            <li class="links-item"><a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer nofollow">Facebook</a></li>
            <li class="links-item"><a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer nofollow">Linkedin</a></li>
            <li class="links-item"><a href="https://github.com/svolodarskyi/js-project-group-6" target="_blank" rel="noopener noreferrer nofollow">GitHub</a></li>
        </ul>
        <p class="copyright">© Copyright 2024. <span class="copyright-s">Made by LloydJefferson</span></p>
    </div>
</footer>


