<section class="section-hero">
  <div class="container hero">
    <div class="presentation">
    <div class="left-side">
      <h1 class="greeting">Hello, I am <span class="greeting-accent"> Fullstack developer</span></h1>
      <div class="order-container">
        <div class="order-hero">
          <svg width="30" height="16">
            <use
              href="./img/icons.svg#icon-Arrow-1"
              class="order-arrow"
            ></use>
          </svg>
          <a class="order-link" href="#work-together" class="animated-link"
            >Order the project</a
          >
        </div>
        <div class="rectangle"></div>
      </div>
    </div>
    <div class="right-side">
      <div class="right-inner-container">
      <img
          class="hero-img"
          src="./img/hero/hero-headshot-1x.jpg"
          srcset="./img/hero/hero-headshot-1x.jpg 1x, ./img/hero/hero-headshot-2x.jpg 2x"
          alt="My photo"
        />
        <p class="hero-text">
          I work with people all over the world to create
          <span class="highlight-text">impressive</span> and
          <span class="highlight-text">functional websites</span>
          that reflect each client&apos;s unique personality.
        </p>
      </div>
    </div>
  </div>
  </div>
  <ul class="s-m-list-hero">
      <li class="s-m-item">
        <a
          class="s-m-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Instagram</a
        >
      </li>
      <li class="s-m-item">
        <a
          class="s-m-link"
          href="https://www.facebook.com/goITclub/ "
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Facebook</a
        >
      </li>
      <li class="s-m-item">
        <a
          class="s-m-link"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >LinkedIn</a
        >
      </li>
      <li class="s-m-item">
        <a
          class="s-m-link"
          href="https://github.com/svolodarskyi/js-project-group-6"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >GitHub</a
        >
      </li>
    </ul>
</section>
