<section class="hero">
  <h1><span class="greeting">Hello, I am </span> Fullstack developer</h1>
  <div class="order-container">
    <div class="order-hero">
      <svg width="30" height="16">
        <use href="../img/icons.svg#icon-Arrow-1" class="order-arrow"></use>
      </svg>
      <a class="order-link" href="#work-together" class="animated-link"
        >Order the project</a
      >
    </div>
    <div class="rectangle"></div>
  </div>
  <p class="hero-text">
    I work with people all over the world to create
    <span class="highlight-text">impressive</span> and
    <span class="highlight-text">functional websites</span>
    that reflect each client&apos;s unique personality.
  </p>
  <ul class="s-m-list-hero">
    <li class="s-m-item">
      <a
        class="s-m-link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        >Instagram</a
      >
    </li>
    <li class="s-m-item">
      <a
        class="s-m-link"
        href="https://www.facebook.com/goITclub/ "
        target="_blank"
        >Facebook</a
      >
    </li>
    <li class="s-m-item">
      <a
        class="s-m-link"
        href="https://www.linkedin.com/school/goit-start-your-career-in-it 
"
        target="_blank"
        >LinkedIn</a
      >
    </li>
    <li class="s-m-item">
      <a
        class="s-m-link"
        href="https://github.com/svolodarskyi/js-project-group-6"
        target="_blank"
        >GitHub</a
      >
    </li>
  </ul>
</section>
