<div class="modal" id="modal">
    <div class="modal-container ">
        <div class="modal-header">
            <div class="modal-header-container">
                <a class="header-logo-lloyd modal-logo" href="./index.html">Lloyd<span
                        class="header-logo-jefferson">Jefferson.</span></a>
                <button class="close-btn" id="close-btn" type="button">
                    <svg class="svg-modal-x" width="18" height="18">
                        <use href="./img/icons.svg#icon-close-mobile"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="mobile-menu-container">
            <ul class="mobile-menu-list">
                <li><a class="mobile-menu-link" href="#about-me">About me</a></li>
                <li><a class="mobile-menu-link" href="#projects">Projects</a></li>
                <li><a class="mobile-menu-link" href="#work-together">Contacts</a></li>
            </ul>
        </div>
    </div>
</div>