<section class="my-projects-section">
  <div class="container projects-container" id="projects">
    <h2 class="projects-title">
      MY<span class="projects-title-span">PROJECTS</span>
    </h2>
    <ul class="projects-list">
      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project1.webp    1x,
            ./img/my-projects/project1-2x.webp 2x
          "
          src="./img/my-projects/project1.webp"
          alt="project1"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">POWER PULSE WEBSERVICE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project2.webp    1x,
            ./img/my-projects/project2-2x.webp 2x
          "
          src="./img/my-projects/project2.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">MIMINO WEBSITE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project3.webp    1x,
            ./img/my-projects/project3-2x.webp 2x
          "
          src="./img/my-projects/project3.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">VYSHYVANKA VIBES LANDING PAGE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project4.webp    1x,
            ./img/my-projects/project4-2x.webp 2x
          "
          src="./img/my-projects/project4.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">GREEN HARVEST ONLINE STORE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project5.webp    1x,
            ./img/my-projects/project5-2x.webp 2x
          "
          src="./img/my-projects/project5.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">WALLET WEBSERVICE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project6.webp    1x,
            ./img/my-projects/project6-2x.webp 2x
          "
          src="./img/my-projects/project6.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">CHEGO JEWELRY WEBSITE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project7.webp    1x,
            ./img/my-projects/project7-2x.webp 2x
          "
          src="./img/my-projects/project7.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">ENERGY FLOW WEBSERVICE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project8.webp    1x,
            ./img/my-projects/project8-2x.webp 2x
          "
          src="./img/my-projects/project8.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">FRUITBOX ONLINE STORE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project9.webp    1x,
            ./img/my-projects/project9-2x.webp 2x
          "
          src="./img/my-projects/project9.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">ENGLISH EXCELLENCE WEBSERVICE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="projects-list-item">
        <img
          srcset="
            ./img/my-projects/project10.webp    1x,
            ./img/my-projects/project10-2x.webp 2x
          "
          src="./img/my-projects/project10.webp"
          alt="project2"
          class="projects-image"
        />
        <p class="projects-item-skills">React, JavaScript, Node JS, Git</p>
        <div class="project-item-content">
          <h3 class="projects-item-title">STARLIGHT STUDIO LANDING PAGE</h3>
          <a
            href="https://github.com/svolodarskyi/js-project-group-6/"
            rel="noopener noreferrer nofollow"
            target="_blank"
            class="projects-item-btn"
            >VISIT
            <svg class="project-item-btn-icon" width="17" height="17">
              <use href="./img/icons.svg#icon-arrow-green"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>

  <button type="button" class="projects-load-btn">LOAD MORE</button>
</section>
