<section class="swiper reviews-container container">
  <h2 class="section-titel">REVIEWS</h2>
  <ul class="swiper-wrapper"></ul>
  <div class="scroll-btns">
    <button class="swiper-btn-back">
      <svg class="icon" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-back"></use>
      </svg>
    </button>
    <button class="swiper-btn-next">
      <svg class="icon" width="24" height="24">
        <use href="./img/icons.svg#icon-arrow-forward"></use>
      </svg>
    </button>
  </div>
  <script type="module" src="./js/reviews.js"></script>
</section>
