<section class="swiper reviews-container container">
  <h2 class="section-titel">REVIEWS</h2>
  <ul class="swiper-wrapper"></ul>
  <ul class="scroll-btns">
    <li>
      <button class="swiper-btn-back">
        <svg class="icon icon-btn-back" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-right-3"></use>
        </svg>
      </button>
    </li>
    <li>
      <button class="swiper-btn-next">
        <svg class="icon icon-btn-next" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-right-1"></use>
        </svg>
      </button>
    </li>
  </ul>
  <script type="module" src="./js/reviews.js"></script>
</section>
