<section class="tech-skills">
  <h2 class="visually-hidden">Tech Skills</h2>
  <div class="skills-container straight">
    <div class="marquee">
      <div class="marquee-inner">
        <ul class="marquee-line-list" type="square">
          <li class="marquee-line-item">
            <p class="marquee-line">HTML/CSS</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">JavaScript</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">React</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">Node.js</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">React Native</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">TypeScript</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">Python</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">Angular</p>
          </li>
        </ul>

        <ul class="marquee-line-list" type="square">
          <li class="marquee-line-item">
            <p class="marquee-line">HTML/CSS</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">JavaScript</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">React</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">Node.js</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">React Native</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">TypeScript</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">Python</p>
          </li>
          <li class="marquee-line-item">
            <p class="marquee-line">Angular</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="skills-container tilted">
    <div class="marquee-second">
      <div class="marquee-inner">
        <p class="marquee-line second">
          · HTML/CSS · JavaScript · React · Node.js · React Native · TypeScript
          · Python · Angular
        </p>
        <p class="marquee-line second">
          · HTML/CSS · JavaScript · React · Node.js · React Native · TypeScript
          · Python · Angular
        </p>
      </div>
    </div>
  </div>
</section>
