<section class="tech-skills-section">
  <div class="tech-skills-container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="wrapper">
      <div class="marquee-text top-line">
        <div
          style="--direction: reverse; --speed: 20s"
          class="marquee-text-track"
        >
          <p>HTML/CSS</p>
          <p>Javascript</p>
          <p>React</p>
          <p>Node. js</p>
          <p>React Native</p>
          <p>Typescript</p>
          <!-- aria hidden so the screen readers do not read dublicated content -->
          <p aria-hidden="true">HTML/CSS</p>
          <p aria-hidden="true">Javascript</p>
          <p aria-hidden="true">React</p>
          <p aria-hidden="true">Node. js</p>
          <p aria-hidden="true">React Native</p>
          <p aria-hidden="true">Typescript</p>
        </div>
      </div>
      <div class="marquee-text rotate-right bottom-line">
        <div class="marquee-text-track">
          <p>HTML/CSS</p>
          <p>Javascript</p>
          <p>React</p>
          <p>Node. js</p>
          <p>React Native</p>
          <p>Typescript</p>
          <!-- aria hidden so the screen readers do not read dublicated content -->
          <p aria-hidden="true">HTML/CSS</p>
          <p aria-hidden="true">Javascript</p>
          <p aria-hidden="true">React</p>
          <p aria-hidden="true">Node. js</p>
          <p aria-hidden="true">React Native</p>
          <p aria-hidden="true">Typescript</p>
        </div>
      </div>
    </div>
  </div>
</section>
