/* Styles for Mobile devices */

.faq-title {
  font-family: var(--font-section-header);
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: var(--color-black);
}

.span-faq-title {
  color: var(--color-green);
}

/* .faq-list {
  padding: 0 24px;
} */

.faq-list-item {
  padding: 28px 24px;
  cursor: pointer;
  border-bottom: 1px solid #e4e5e6;
}

.faq-list-item-title {
  font-family: var(--font-section-header);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 24px;
}
.faq-list-item-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.faq-list-item-text {
  font-family: var(--font-text);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--color-black);
}

.is-Active-faq-list-item {
  border-radius: 16px;
  background: var(--color-green-saturated);
}
/* .faq-list-item-panel {
} */
/* .faq-list-item-text {
  display: none;
} */

/* Styles for Tablet devices */

@media only screen and (min-width: 768px) {
  .faq-title {
    font-family: inherit;
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: var(--color-black);
  }

  .faq-list-item-title {
    font-family: inherit;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-black);
  }

  .faq-list-item-text {
    font-family: inherit;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--color-black);
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .faq-title {
    font-family: inherit;
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 1.8px;
    width: 520px;
    text-transform: uppercase;
    color: var(--color-black);
  }

  .faq-list-item-title {
    font-family: inherit;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-black);
  }

  .faq-list-item-text {
    font-family: inherit;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: var(--color-black);
  }

  .faq-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../img/faq/decor-bg1x.png);
    background-repeat: no-repeat, repeat;
    background-position: left bottom;
    background-size: 526px 408px;
  }

  .faq-list {
    width: 592px;
    margin-top: 276px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .faq-container {
    background-image: url(../img/faq/decor-bg2x.png);
  }
}
