:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Impact", sans-serif;
    --third-family: "Montserrat", sans-serif;
}

.theme-light {
    --color-logo-header: #292929;
    --color-logo-span: #00B068;
    --color-link-header: #292929;
    --color-burger-menu: var(--color-black);
    --color-modal-container: var(--color-white);
}

.theme-dark {
    --color-logo-header: #F0F0F0;
    --color-logo-span: #00B068;
    --color-link-header: #F0F0F0;
    --color-burger-menu: var(--color-white);
    --color-modal-container: var(--color-black);
}


body {
    background-color: var(--background-color);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.theme-toggle-container {
    display: none;
}

.menu,
.address {
    display: none;
}

.header-logo-lloyd {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-logo-header);
}



.header-logo {
    padding: 20px 0;
    display: block;
}

.header-logo-jefferson {
    color: var(--color-green);
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: var(--color-burger-menu);
}

.header-logo {
    margin-right: 18px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
        margin: 0 auto;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }



    .header-logo {
        margin-right: 131px;
    }

    .burger-btn {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-link {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: var(--color-link-header);
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--color-green-hover);

    }

    .theme-toggle-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .theme-toggle-btn {
        position: relative;
        width: 48px;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        padding: 0;
        margin-right: 40px;
    }

    .theme-icon-light,
    .theme-icon-dark {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity var(--transition);
    }

    .theme-icon-light {
        opacity: 1;
    }

    .theme-icon-dark {
        opacity: 0;
    }

    body.theme-dark .theme-icon-light {
        opacity: 0;
    }

    body.theme-dark .theme-icon-dark {
        opacity: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }

    .header-logo {
        margin-right: 643px;
    }


}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;

}

.modal-container {

    position: relative;
    width: 360px;
    height: 704px;
    background: var(--color-modal-container);
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    background-image: url(../img/decor-bg-1.png);
    background-position: 0 80px;
}

@media screen and (max-width: 360px) {
    .modal-container {
        width: 360px;
        height: 800px;
    }
}

@media (min-width: 767px) and (max-width: 1279px) {
    .modal-container {
        width: 768px;
        height: 1024px;
    }

    .modal-logo {
        /* padding: 20px 0 20px 20px; */
        margin-right: 439px;
    }

    .modal-header-container {
        width: 768px;
    }


}

.modal-header-container {
    width: 360px;
    height: 64px;
    /* padding: 36px 0; */
    display: flex;
    text-align: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .modal-header-container {
        width: 768px;
        height: 96px;
    }
}


.modal.active {
    pointer-events: all;
    opacity: 1;
}

.modal-container.active {
    transform: translateY(0);
}

.modal-logo {
    padding: 20px 0 20px 20px;
    margin-right: 108px;
}

@media screen and (min-width: 768px) {
    .modal-logo {
        padding: 20px 0 20px 20px;
        margin-right: 500px;
    }

    .burger-btn {
        display: none;
    }


}


.close-btn {
    border: none;
    background-color: transparent;
    padding: 16px 16px 16px 0;
}


.svg-modal-x {
    fill: var(--color-black);
}

/* ЮЮ, */


/* ююю */
.modal-menu {
    text-align: center;
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* юю */



/* ,, */
.modal-link {

    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--color-link-header);
}



.burger-btn.opened svg path {
    fill: #fff;
    transition: all 0.3s ease;
}

.burger-btn.opened svg path:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-btn.opened svg path:nth-child(2) {
    opacity: 0;
}

.burger-btn.opened svg path:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}