:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Impact", sans-serif;
    --third-family: "Montserrat", sans-serif;
}

.theme-light {
    --color-logo-header: #292929;
    --color-logo-span: #00B068;
    --color-link-header: #292929;
    --color-burger-menu: var(--color-black);
    --color-modal-container: var(--color-white);
    --color-x-modal: var(--color-black);
}

.theme-dark {
    --color-logo-header: #F0F0F0;
    --color-logo-span: #00B068;
    --color-link-header: #F0F0F0;
    --color-burger-menu: var(--color-white);
    --color-modal-container: var(--color-black);
    --color-x-modal: var(--color-white);
}


body {
    background-color: var(--background-color);
}



.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
}

.theme-toggle-container {
    display: none;
}

.menu,
.address {
    display: none;
}

.header-logo-lloyd {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-logo-header);
    display: inline-block;
}



.header-logo {
    display: block;
}

.header-logo-jefferson {
    color: var(--color-green);
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: var(--color-burger-menu);
}


@media screen and (min-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        padding-top: 32px;
        padding-bottom: 32px;
    }



    .header-logo {

        margin-right: auto;
    }

    .burger-btn {
        display: none;
    }

    .nav {
        width: 100%;
        display: flex;
        align-items: center;

    }


    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .menu>li {
        flex-shrink: 0;
    }

    .header-link {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: var(--color-link-header);
    }

    .header-link:hover,
    .header-link:focus {
        color: var(--color-green-hover);

    }

    .theme-toggle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .theme-toggle-btn {
        position: relative;
        width: 48px;
        height: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        padding: 0;
        /* margin-right: 40px; */
    }

    .theme-icon-light,
    .theme-icon-dark {
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity var(--transition);
    }

    .theme-icon-light {
        opacity: 1;
    }

    .theme-icon-dark {
        opacity: 0;
    }

    body.theme-dark .theme-icon-light {
        opacity: 0;
    }

    body.theme-dark .theme-icon-dark {
        opacity: 1;
    }
}

.burger-btn.opened svg path {
    fill: #fff;
    transition: all 0.3s ease;
}

.burger-btn.opened svg path:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-btn.opened svg path:nth-child(2) {
    opacity: 0;
}

.burger-btn.opened svg path:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}