.section-hero{
  padding-top: 112px;
  background-image: url(../img/hero/decor-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 14px center;
}

.theme-dark{
  --color-greeting: var(--color-white);
  --color-hero-text: var(--color-white);
  --color-social-links: var(--color-white);
  --color-social-bg: var(--color-grey);
  --color-cta-text: var(--color-white);
  --color-cta-button: var(--color-green);
  --color-cta-button-hover: var(--color-green-hover);
 
}

.theme-light{
  --color-greeting: var(--color-black);
  --color-hero-text: var(--color-black);
  --color-cta-text: var(--color-black);
  --color-social-links: var(--color-black);
  --color-social-bg: var(--color-grey);
  --color-cta-button: var(--color-green);
  --color-cta-button-hover: var(--color-green-hover);
}
 

.hero-img{
    display: none;
  }
.greeting {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-greeting);
    margin-bottom: 40px;
    z-index: 2;
  }

  .greeting-accent{
    color: var(--color-green);
  }

  .order-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 320px;
    height: 92px;
    margin-bottom: 40px;
  }

  .order-hero {
    display: flex;
    gap: 12px;
    align-items: center;
    z-index: 3;
    transition: transform 250ms ease-in-out;
  }

  .order-container:hover .order-hero {
    transform: translateX(50%);
  }

  .order-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-cta-text);
  }

  .rectangle {
    border-radius: 16px;
    width: 165px;
    height: 92px;
    background-color: var(--color-cta-button);
    position: absolute;
    left: 135px;
    z-index: 0;
    transition: background-color 250ms ease-in-out;
  }

  .order-container:hover .rectangle {
    background-color: var(--color-cta-button-hover);
  }

  .order-arrow {
    fill: var(--color-cta-button);
  }
  
  .hero-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-hero-text);
  }
  .highlight-text {
    color: var(--color-green);
  }
  .s-m-list-hero {
    list-style: none;
    padding: 32px 0px;

    background-color: var(--color-social-bg);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-top: 72px;
  }
  .s-m-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .s-m-link {
    text-align: center;
    color: var(--color-social-links);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }


@media screen and (min-width: 768px) {
  .section-hero{
    padding-top: 88px;
    background-image: url(../img/hero/decor-bg-tab.png);
    position:relative;
    background-repeat: no-repeat;
    background-position: top 33px center;
    
    
  }

 .container{
    padding: 0 32px;
  }

  .greeting {
    font-size: 136px;
    line-height: 1.14706;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }

  .order-container {
    width: 426px;
    height: 96px;
    margin-bottom: 40px;
  }
  .order-link {
    font-size: 20px;
    line-height: 1.6;
  }
  .rectangle {
    width: 261px;
    height: 96px;
    left: 151px;
  }
  .hero-text {
    font-size: 20px;
    line-height: 1.6;
    max-width: 704px;
  }
  .s-m-list-hero {
    padding: 40px 0px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-content: center;
    margin-top: 72px;
  }
  .s-m-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  
  
  .section-hero {
    background-image: url(../img/hero/decor-bg-desktop.png);
    position:relative;
    background-repeat: no-repeat;
    background-position: top 10px center;
  }

  .presentation{
    display: flex;
    gap: 72px;
  }

  .greeting {
    font-size: 124px;
    line-height: 1.19355;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 80px;
  }

  .hero-img{
    display: block;
    margin-bottom: 80px;
    border-radius: 32px;
  }

  .right-inner-container {
      width: 592px;
  }

  .order-container{
    left: 75px;
    margin-bottom: 0;
  }
  .s-m-list-hero {
    background-color: var(--color-grey);
    margin-top: 96px;
  }
}
