.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;

}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    height: 100%;
    background: var(--color-modal-container);
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    background-image: url(../img/decor-bg-1.png);
    background-position: 0 80px;
}



.modal-header-container {
    min-width: 320px;
    max-width: 360px;
    height: 32px;
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.mobile-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;
}




.modal.active {
    pointer-events: all;
    opacity: 1;
}

.modal-container.active {
    transform: translateY(0);
}




.close-btn {
    border: none;
    background-color: transparent;
}


.svg-modal-x {
    fill: var(--color-x-modal);
}

.mobile-menu-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.mobile-menu-link {
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--color-link-header);
}

@media screen and (min-width: 768px) {
    .modal {
        display: none;
    }
}